.button-link {
  margin: 0 auto;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover,
  &:focus {
    background-image: linear-gradient(0deg, #444444, #444444);
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 6px;
    background: url("../img/zigzag-line.svg") no-repeat;
  }
}

@media (min-width: $tablet) {
  .button-link {
    font-size: 17px;
    line-height: 20px;
  }

  .button-link--index-only {
    width: 292px;
    margin: 0;
    position: absolute;
    bottom: 7px;
    left: 50px;
  }

  .button-link--index-tablet {
    width: 230px;
  }
}


@media (min-width: $desktop) {
  .button-link--index-only {
    width: 292px;
    margin: 0;
    position: absolute;
    bottom: 4px;
    left: 175px;
  }
}
