.button-link {
  margin: 0 auto;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 6px;
    background: url("../../img/zigzag-line.svg") no-repeat;
  }
}

