.contacts {
  padding: 0 0 39px 0;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 27px 0;
}

.contacts__group {
  margin: 0 0 62px 0;
}

.contacts__link {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  display: block;
}

.contacts__address {
  display: flex;
  margin: 0 0 30px 0;
}

.contacts__address-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin: 0 33px 0 0;
}

.contacts__row {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.contacts__row-1 {
  margin: 0;
}

.contacts__row-2 {
  margin: 0 0 0 34px;

  @media (min-width: 321px) {
    br {
      display: none;
    }
  }
}

.contacts__map {
  margin: 0 0 42px 0;
  position: relative;
  min-height: 454px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 454px;
    background: url("../img/map-mobile.jpg") no-repeat top center;
    background-size: cover;
    z-index: 1;
  }
}

.contacts__iframe {
  width: 100%;
}

@media (min-width: $tablet) {
  .contacts {
    position: relative;
    padding: 0 0 59px 0;
  }

  .contacts::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    top: -23px;
    right: 53px;
    background: url("../img/flag.svg") no-repeat;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 50px 0;
  }

  .contacts__group {
    display: flex;
    flex-direction: row;
    margin: 0 0 47px 0;
  }

  .contacts__address {
    display: flex;
    margin: 0 50px 30px 0;
  }

  .contacts__address-title {
    font-size: 17px;
    margin: 0 25px 0 0;
  }

  .contacts__row {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    width: 50%;
  }

  .contacts__row-2 {
    margin: 0 0 0 25px;
    width: 220px;
  }

  .contacts__link {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .contacts__map {
    margin: 0 0 58px 0;

    &::before {
      width: 100%;
      height: 457px;
      background: url("../img/map-tablet.jpg") no-repeat top center;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: relative;
    padding: 258px 0 105px 0;
    width: 1051px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    &::after {
      top: 317px;
      left: 63px;
    }
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin: 77px 0 35px 156px;
  }

  .contacts__row {
    width: auto;
  }

  .contacts__row-2 br {
    display: block;
  }

  .contacts__group {
    flex-direction: column;
    margin: 0 0 90px 157px;
  }

  .contacts__grid-1 {
    width: auto;
  }

  .contacts__grid-2 {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  .contacts__grid-3 {
    width: auto;
    margin: -7px 0 0 56px;
  }

  .contacts__map {
    margin: 0;

    &::before {
      width: 527px;
      height: 457px;
      background: url("../img/map-desktop.jpg") no-repeat top center;
      z-index: 1;
    }
  }
}
