.form-promo__group {
  background: #f1f1f1;
  padding: 73px 0 74px 0;
  margin: 0 0 15px 0;
}

.form-promo__title {
  margin: 0 auto;
}

.form-promo__heading {
  margin: 0 0 29px 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}
