.form__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__adress {
  font-style: normal;
}

.form__item-radio {
  position: relative;
  margin: 0 0 24px 0;
  padding: 0 0 0 60px;
  width: 180px;
  min-height: 36px;
}
