.input {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: rgba($color: #000000, $alpha: 0.3);
  border-bottom: 2px solid #000000;
  min-height: 51px;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid #62d1ba;
    outline: none;
  }

  @media (min-width: $tablet) {
    font-size: 19px;
    line-height: 18px;
    flex-grow: 1;
    padding: 0 0 0 17px;
    width: 100%;
  }
}
