.menu__list {
  margin: 0 0 0 13px;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-flex;
  flex-direction: column;
}

.menu__item {
  padding: 28px 0 27px 0;
  position: relative;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    top: 0;
    left: 50%;
    border-top: 1px solid #ececec;
    transform: translateX(-50%);
    margin: 0 0 0 -13px;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.menu__item--desktop-only {
  display: none;
}

.menu__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.menu__icon {
  fill: rgba($color: #000000, $alpha: 0.2);
  position: absolute;
}

.menu__icon--cart {
  width: 21px;
  height: 18px;
  top: 3px;
  left: -46px;
}

.menu__icon--search {
  width: 18px;
  height: 18px;
  top: 3px;
  left: -44px;
}

.menu__link:hover .menu__icon {
  fill: #63d1bb;
}

.menu__link:hover {
  color: rgba($color: #000000, $alpha: 0.6);
}

.menu__link:active .menu__icon {
  fill: rgba($color: #63d1bb, $alpha: 0.3);
}

.menu__link:active {
  color: rgba($color: #000000, $alpha: 0.3);
}

@media (min-width: $tablet) {
  .menu {
    width: 370px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 19px;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 0 -37px;
    padding: 0;
  }

  .menu__item {
    border: none;
    padding: 0;
    margin: 0 0 0 37px;
  }

  .menu__link {
    font-size: 15px;
    line-height: 24px;
  }

  .menu__item--cart {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu__item--cart .menu__link::after {
    top: 35px;
    left: 31px;
  }

  .menu__item--search .menu__link::after {
    position: relative;
    top: 0;
    left: 0;
  }

  .menu__item--search {
    position: absolute;
    right: 313px;
    top: 0;
  }

  .menu__item--search .menu__link-text {
    display: none;
  }

  .menu__item--cart .menu__link {
    padding: 33px 51px 33px 82px;
    display: block;
    font-size: 17px;
  }

  .menu__item--search .menu__link {
    padding: 0;
    width: 82px;
    height: 90px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__icon--cart {
    top: 35px;
    left: 31px;
  }

  .menu__icon--search {
    top: 36px;
    left: 33px;
  }
}


@media (min-width: $desktop) {
  .menu {
    padding-left: 0;
    padding-top: 0;
    width: 450px;
  }

  .menu__list {
    width: 100%;
    padding: 19px 0 0 0;
    margin: 0 0 0 -35px;
  }

  .menu__item {
    margin: 0 0 51px;
    width: 220px;
    box-sizing: border-box;
    padding: 0 0 0 35px;

    &:first-child::after {
      content: "";
      position: absolute;
      top: -35px;
      right: 0;
      width: 1px;
      height: 93px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .menu__item--search {
    right: 167px;
  }

  .menu__item--cart {
    position: absolute;
    right: 3px;
    top: 0;
    width: auto;
  }

  .menu__item--cart .menu__link {
    display: inline-block;
    vertical-align: middle;
    padding: 33px 0 33px 82px;
  }

  .menu__item--desktop-only {
    display: block;
  }

  .menu__link--desktop {
    font-size: 17px;
    line-height: 24px;
  }
}
