.page-header__logo {
  text-align: center;
  padding: 22px 0 17px 0;
}

.page-header__deleviry {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0;
}

.page-header__toggle {
  position: absolute;
  padding: 0;
  width: 21px;
  height: 20px;
  top: 38px;
  right: 31px;
  cursor: pointer;
  background: #ffffff;
  border: none;
}

.page-header__menu--closed .page-header__toggle::before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: -6px;
  left: 1px;
  background: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}


.page-header__menu--opened .page-header__toggle::before {
  content: "";
  width: 21px;
  height: 2px;
  top: 0;
  left: 0;
  position: absolute;
  transform: rotate(45deg);
  background: #000000;
}

.page-header__menu--opened .page-header__toggle::after {
  content: "";
  width: 21px;
  height: 2px;
  top: 0;
  left: 0;
  position: absolute;
  transform: rotate(-45deg);
  background: #000000;
}

.page-header__wrapper {
  text-align: center;
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__logo {
    outline: 2px solid rgb(45, 189, 64);
    outline-offset: -2px;
    width: 370px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__deleviry {
    display: block;
    outline: 2px solid tomato;
    outline-offset: -2px;
    flex-grow: 1;
    text-align: right;
  }
}
