.page-footer {
  background: #f1f1f1;
  padding-top: 29px;
  padding-bottom: 21px;
}

.page-footer__logo {
  display: none;
  fill: #000000;
}

.page-footer__logo:hover {
  fill: #46c1ae;
}

.page-footer__logo:active {
  fill: rgba($color: #46c1ae, $alpha: 0.3);
}

.page-footer__cop {
  margin: 0 auto;
  width: 184px;
  display: flex;
  align-items: center;
}

.page-footer__preview {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin: 0 25px 0 0;
}

.page-footer__icon {
  fill: #63d1bb;
}

.page-footer__icon:hover {
  fill: rgba($color:#46c1ae, $alpha: 1);
}

.page-footer__icon:active {
  fill: rgba($color: #46c1ae, $alpha: 0.3);
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 50px;
    padding-top: 44px;
  }

  .page-footer__group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-footer__logo {
    display: block;
    margin: 0;
  }

  .page-footer__cop {
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .page-footer__group {
    align-items: flex-start;
  }

  .page-footer__logo {
    padding: 4px 0 0 0;
  }

  .page-footer__cop {
    padding: 5px 0 0 0;
  }
}
