.page-footer {
  // outline: 5px solid rgba(255, 0, 0, 0.7);
  // outline-offset: -5px;
  background: #f1f1f1;
  padding-top: 29px;
  padding-bottom: 21px;
}

.page-footer__logo {
  display: none;
}

.page-footer__cop {
  // outline: 5px solid rgba(0, 255, 0, 0.7);
  // outline-offset: -5px;
  margin: 0 auto;
  width: 184px;
  display: flex;
  align-items: center;
}

.page-footer__preview {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin: 0 25px 0 0;
}
