.page-header__logo {
  text-align: center;
  padding: 22px 0 17px 0;
}

.page-header__deleviry {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0;
}

.page-header__toggle {
  position: absolute;
  padding: 0;
  width: 21px;
  height: 20px;
  top: 38px;
  right: 31px;
  cursor: pointer;
  background: #ffffff;
  border: none;
}

.page-header__menu--closed .page-header__toggle::before {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: -6px;
  left: 1px;
  background: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}


.page-header__menu--opened .page-header__toggle::before {
  content: "";
  width: 21px;
  height: 2px;
  top: 0;
  left: 0;
  position: absolute;
  transform: rotate(45deg);
  background: #000000;
}

.page-header__menu--opened .page-header__toggle::after {
  content: "";
  width: 21px;
  height: 2px;
  top: 0;
  left: 0;
  position: absolute;
  transform: rotate(-45deg);
  background: #000000;
}


.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.menu__item {
  padding: 27px 0 27px 0;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;

  &:last-child {
    border-bottom: 1px solid #ececec;
  }


  // &:nth-child(3)::before {
  //   content: "";
  //   background: url("../../img/icons/search.svg.svg");
  //   width: 18px;
  //   height: 18px;
  //   position: absolute;
  //   top: 31px;
  //   left: 30px;
  // }

  // &:nth-child(4)::before {
  //   content: "";
  //   background: url("../../img/icons/basket.svg");
  //   width: 21px;
  //   height: 18px;
  //   position: absolute;
  //   top: 31px;
  //   left: 15px;
  // }
}

.menu__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__logo {
    outline: 2px solid rgb(45, 189, 64);
    outline-offset: -2px;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu__item {
    border: none;
    outline: 2px solid tomato;
    outline-offset: -2px;

    &:last-child {
      border: none;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__deleviry {
    display: block;
    outline: 2px solid tomato;
    outline-offset: -2px;
  }
}
