.product {
  margin: 0 0 73px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 6px;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../../img/zigzag-line.svg");
  }
}

.product__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding: 0;
  margin: 0 auto 2px auto;
  max-width: 260px;
}

.product__row {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  margin: 0;

  &--green {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    padding: 0;
    margin: 0 auto 19px auto;
    color: #63d1bb;
    text-transform: uppercase;
    max-width: 260px;
  }

  &--small {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    max-width: 260px;
    margin: 0 auto 26px auto;
  }
}

.product__list {
  padding: 0;
  margin: 0 auto 44px auto;
  list-style: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  max-width: 260px;
}

.product__item {
  display: flex;
  margin: 0 0 19px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ececec;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product__tr {
  margin: 0;
  width: 100px;

  &:last-child {
    margin: 0 0 0 -2px;
    flex-grow: 1;
  }
}

.product__card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  margin: 20px auto 24px auto;
  text-align: center;
}

@media (min-width: $tablet) {
  .product {
    margin: 0 0 121px;
  }

  .product::after {
    height: 17px;
    background: url("../../img/icons/zigzag-index-tablet.svg");
    bottom: -63px;
  }

  .product__container {
    display: flex;
    flex-direction: column;
  }

  .product__group-1 {
    display: flex;
    margin: 0 0 37px 0;
  }

  .product__group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .product__grid-2 {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  .product__subtitle {
    font-size: 43px;
    line-height: 50px;
    max-width: 440px;
    margin: 0 142px 0 0;
  }

  .product__row--green {
    font-size: 17px;
    line-height: 17px;
    width: min-content;
    margin: 0;
    text-align: center;
    padding: 5px 0 0 0;
  }

  .product__row--small {
    margin: 0 0 48px 0;
    font-size: 17px;
    line-height: 30px;
    max-width: 290px;
  }

  .product__list {
    margin: 0;
  }

  .product__price {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    padding: 0 46px 0 0;
  }

  .product__card {
    margin: 13px 0 0 0;
  }

  .product__grid-3 {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: -31px 0 0 0;
  }
}

@media (min-width: $desktop) {
  .product {
    margin: 0 auto 162px;
    position: relative;
  }

  .product__container {
    display: block;
  }

  .product__group-1 {
    margin: 0;
    position: absolute;
    top: 67px;
    left: 45px;
  }

  .product__subtitle {
    margin: 0 0 0 57px;
    font-size: 53px;
    line-height: 43px;
    max-width: 540px;
  }

  .product__row--green {
    order: -1;
    padding: 0;
  }

  .product__card {
    margin: 0;
    display: block;
  }

  .product__img {
    display: block;
  }

  .product__row--small {
    margin: 152px 0 0 174px;
  }

  .product__list {
    margin: 59px 0 43px 174px;
  }

  .product__grid-3 {
    padding: 20px 0 0;
    display: block;
    position: relative;
  }

  .product__price {
    margin: 0 0 0 115px;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
  }
}
