.promo {
  background: #f9f9f9;
}

.promo__title-container {
  position: relative;
  padding-bottom: 120px;
  overflow: hidden;
  padding-top: 71px;

  &::after {
    content: "";
    width: 568px;
    height: 373px;
    position: absolute;
    background: url("../img/promo-mobile.jpg") no-repeat center bottom;
    bottom: -73px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }
}

.promo__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 10;
}

.promo__group {
  margin: 0 0 33px 0;
}

.promo__back-light {
  background: $base-green-l;
}

.promo__back-hard {
  background: $base-green-d;
}

.promo__link {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  padding: 25px 0 30px 30px;
  position: relative;

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }

  &--light {
    background: $base-green-l;
    z-index: 50;

    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 62px;
      top: 23px;
      right: 36px;
      background: url("../img/interior.svg") no-repeat;
    }
  }

  &--dark {
    background: $base-green-d;
    z-index: 50;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background: url("../img/toy.svg") no-repeat;
    }
  }
}

@media (min-width: $tablet) {
  .promo {
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 24px;
      background: url("../img/zigzag-tablet.svg");
      z-index: 100;
    }
  }

  .promo__title-container {
    padding-top: 110px;
    padding-bottom: 371px;

    &::after {
      background: url("../img/promo-tablet-desktop.jpg") no-repeat center bottom;
      height: 746px;
      width: 1150px;
      bottom: -118px;
    }
  }

  .promo__title {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
    padding: 0;
  }

  .promo__group {
    display: flex;
    position: relative;
    padding: 0 50px;
    margin: 0 0 42px 0;
  }

  .promo__back {
    width: 50%;
  }

  .promo__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0 45px 36px;
  }

  .promo__link--light::before {
    top: 30px;
  }

  .promo__link--dark::before {
    top: 32px;
    right: 34px;
  }
}

@media (min-width: $desktop) {
  .promo {
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 34px;
      background: url("../img/zigzag-desktop.svg");
      z-index: 100;
    }
  }

  .promo__wrapper {
    width: 1051px;
    margin: 0 auto;
  }

  .promo__title-container {
    padding-top: 65px;
    padding-bottom: 355px;
  }

  .promo__title {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
  }

  .promo__group {
    padding: 0;
    margin: 0 0 61px;
  }
}
