.radio + label::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -4px;
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 52px;
    height: 52px;
  }
}

.radio:hover + label::before,
.radio:focus + label::before {
  border: 2px solid#62d1ba;
}

.radio:active + label::before {
  border: 2px solid rgba($color: #000000, $alpha: 0.3);
}

.radio:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 11px;
  top: 8px;
  background: #62d1ba;
  border-radius: 50%;

  @media (min-width: $tablet) {
    width: 23px;
    height: 23px;
    left: 13px;
    top: 10px;
  }
}

@media (min-width: $desktop) {
  .radio + label::before {
    width: 50px;
    height: 50px;
    left: -2px;
    top: -2px;
  }

  .radio:checked + label::after {
    width: 20px;
    height: 20px;
    left: 13px;
    top: 13px;
  }
}
