.textarea {
  padding: 17px;
  background: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  width: 260px;
  height: 142px;
  color: rgba($color: #000000, $alpha: 0.3);
  resize: none;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid #62d1ba;
  }

  @media (min-width: $tablet) {
    min-width: 501px;
    height: 142px;
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .textarea {
    width: 699px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 18px;
    opacity: 0.3;
    padding: 15px;
  }
}
