.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet) {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $desktop) {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
  }
}
